<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Layout}">
<head>
<title>Thymeleaf</title>
</head>
<body>
    <header layout:fragment="custom-header">
        <h2>Thymeleaf</h2>
        <hr/>
    </header>
    <section layout:fragment="content">
        <table class="table table-striped">
            <caption>This is Data Table</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>SpeakerName</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${presentations}">
                    <td><span th:if="${item.id % 2 == 0}">*</span> <span th:text="${item.id}" /></td>
                    <td><span th:text="${item.title}" /></td>
                    <td><span th:text="${item.speakerName}" /></td>
                    <td><span th:utext="${item.summary}" /></td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer layout:fragment="custom-footer">
        <hr/>
        <h2>Thymeleaf</h2>
    </footer>
</body>
</html>