<!DOCTYPE html>
<html>
<head th:replace="include::head(~{::title})">
<meta charset="utf-8" />
<title>Thymeleaf 3</title>
</head>
<body>
    <div class="container">
        <header>
            <div th:replace="~{include :: header}" />
            <h2>Thymeleaf 3</h2>
            <hr />
        </header>
        <section>
            <div class="row">
                <form class="form-horizontal" action="/showConfirm" th:action="@{/showConfirm}" th:object="${presentation}" method="post">
                    <!-- ID -->
                    <div class="form-group">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="id"> ID </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="text" class="form-control" id="id" name="todoId" th:field="*{id}" readonly />
                        </div>
                    </div>

                    <!-- タイトル -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('title')}? has-error">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="title">タイトル </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="text" class="form-control" style="ime-mode: active;" id="title" name="title" th:field="*{title}" />
                            <!-- エラーメッセージ -->
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="help-block">error!</span>
                        </div>
                    </div>

                    <!-- スピーカー -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('speakerName')}? has-error">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="speakerName">スピーカー </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="text" class="form-control" style="ime-mode: active;" id="speakerName" name="speakerName"
                                th:field="*{speakerName}" />
                            <!-- エラーメッセージ -->
                            <span th:if="${#fields.hasErrors('speakerName')}" th:errors="*{speakerName}" class="help-block">error!</span>
                        </div>
                    </div>

                    <!-- サマリー -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('summary')}? has-error">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="summary"> サマリー </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="text" class="form-control" style="ime-mode: active;" id="summary" name="summary" th:field="*{summary}" />
                            <!-- エラーメッセージ -->
                            <span th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}" class="help-block">error!</span>
                        </div>
                    </div>

                    <!-- ルーム -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('room')}? has-error">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="room"> ルーム </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="text" class="form-control" style="ime-mode: active;" id="room" name="room" th:field="*{room}" />
                            <!-- エラーメッセージ -->
                            <span th:if="${#fields.hasErrors('room')}" th:errors="*{room}" class="help-block">error!</span>
                        </div>
                    </div>

                    <!-- 開始日付 -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('startTime')}? has-error">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="startTime">開始日付 </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="date" class="form-control" id="startTime" name="startTime" th:field="*{startTime}" />
                            <!-- エラーメッセージ -->
                            <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="help-block">error!</span>
                        </div>
                    </div>

                    <!-- 終了日付 -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('endTime')}? has-error">
                        <div class="col-md-2">
                            <!-- ラベル -->
                            <label class="control-label" for="endTime">終了日付 </label>
                        </div>
                        <div class="col-md-10">
                            <!-- コントロール -->
                            <input type="date" class="form-control" id="endTime" name="endTime" th:field="*{endTime}" />
                            <!-- エラーメッセージ -->
                            <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="help-block">error!</span>
                        </div>
                    </div>

                    <!-- 操作ボタン -->
                    <div class="row">
                        <div class="col-md-offset-10 col-md-2">
                            <button class="btn btn-primary" type="submit">登録</button>
                            <a class="btn btn-default" href="/showList" th:href="@{/showList}">戻る</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <footer>
            <hr />
            <h2>Thymeleaf 3</h2>
            <div th:replace="~{include :: footer}"></div>
        </footer>
    </div>
</body>
</html>