<!DOCTYPE html>
<html>
<head th:replace="include::head(~{::title})">
<meta charset="utf-8" />
<title>Thymeleaf 3</title>
</head>
<body>
    <div class="container">
        <header>
            <div th:replace="~{include :: header}" />
            <h2>Thymeleaf 3 + Fragment Expressions</h2>
            <hr />
        </header>
        <section>
            <table class="table table-striped">
                <caption>This is Data Table</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>SpeakerName</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${presentations}">
                        <td><span th:if="${item.id % 2 == 0}">*</span> <span th:text="${item.id}" /></td>
                        <td><span th:text="${item.title}" /></td>
                        <td><span th:text="${item.speakerName}" /></td>
                        <td><span th:utext="${item.summary}" /></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer>
            <hr />
            <h2>Thymeleaf 3 + Fragment Expressions</h2>
            <div th:replace="~{include :: footer}"></div>
        </footer>
    </div>
</body>
</html>